
body{
    background: #fff
}
.no-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.head-main{
    display: flex;
}
.head-main div {
    /* border: 1px solid silver; */
    /* height: 4em; */
    align-items: center;
    height: 4em;
    
}
.head-buttons h6{
   padding: 1.3em
}
.head-buttons{
    display: flex;
    flex: 6;
   
}

.head-button:hover{
    color: silver;
}

.head-buttons div{
    flex: 1;
}

.head-logo {
    display: flex;
    align-items: center;
    flex: 2;
}
.head-logo h4{
    margin-left: 1.1em
}

.head-contacts{
    flex: 2;
    align-items: center;
    text-align: right;
}
.head-contacts h6{
padding: 0.7em
}

.sign-up{
    width: 100%;
    
    /* background: url(https://www.mailerlite.com/assets/blog/hackathon-mailerlite.jpg) no-repeat center fixed; */
    background: url(https://mussolblog.files.wordpress.com/2014/04/hackathon.jpg) no-repeat center;
    background-size: cover;
    

}
.sign-up-text{
   
    width: 50%;
    padding: 3em;
    margin-top: 2em;
    color: #fff;
    font-family: 'Overpass';  
    
}
.sign-up2{
    display: flex;
    
}
.orange{
    background-color: #efc600;
    border:#efc600;
}
.half{
    width: 50%;
}

@media only screen and (min-width: 480px) {
    /* Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее. */
  
  }
  
  @media only screen and (min-width: 768px) {
    /* Планшеты в режиме portrait. */

  }
  
  @media only screen and (min-width: 992px) {
    /* Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп. */

  }
  
  @media only screen and (min-width: 1382px) {
    /* Десктоп с большими разрешениями, телевизоры. */
  
  }
